/***** NAVBAR *****/
.navbar-default {
  background-color: black;
  border-radius: 0;
  background-image: none;
}

/* Navbar title */
.navbar-default .navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ebd122;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color: #fff;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #ebd122;
  color: #242424;
}

.hamburger{
	background-color: white !important;
}

#about-world {
  max-height: 200px;
}


hr {
  border-color: white;
  border-width: 2px;
}

p {
  font-size: 20px;
}

a {
  color: #863ee3;
}

a:hover {
  color: #ebd122;
}

.jumbotron {
  
  text-align: center;
  color: #000000;
  padding: 0;
}

.jumbotron h2 {
  font-size: 36px;
  font-weight: bold;
}

body {
  padding-top: 50px;
  font-family: 'Calibri',serif;
  background-color: white;
  color: black;
}

h4 {
	font-family: 'Calibri',serif; 
   	font-weight: bold;
   	color: black;
   	text-align: center;

}
.panel-title {
	font-size: 20px;
}

}
.panel-group {
	align: left;
}


#map{
    width: 100%; 
    height: 100%;
	margin: auto;

.leaflet-popup-content {
	background-color: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.9);
	padding: 10px;
	border-radius: 12px;
	text-align: center;
}

.btn-success:active {
background-color: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.9);
	padding: 10px;
	border-radius: 12px;
	text-align: center;
}



